@{
    ViewData["Title"] = "任务调度平台";
    Layout = null;

}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/umi.css">
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
   
    <script>window.routerBase = "/";</script>
</head>
<body>
    <div id="root"></div>
    <script src="/umi.js"></script>
</body>
</html>