@page
@model WooDispatch.Dispatch.Pages.JobHomeModel

@*<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" asp-append-version="true" href="/umi.css">
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>

    <script>window.routerBase = "/";</script>
</head>
<body>
    <div id="root"></div>
    <script src="~/umi.js" asp-append-version="true"></script>
</body>
</html>*@

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/umi.css">
    <meta charset="utf-8">
    <title>调度服务可视化</title>
    <script>window.routerBase = "/";</script>
</head>
<body>
    <div id="root"></div>
    <script src="/umi.js"></script>
</body>
</html>