<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="Logs/SysNlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="Database" name="db"
            keepConnection="false"
            useTransactions="false"
            dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite"
            connectionString="${var:connectionString}"
            commandText="INSERT INTO AppLog (Application, Logged, Level, Message,Logger,Callsite,Exception) VALUES (@Application, @Logged, @Level, @Message,@Logger,@Callsite,@Exception)">

      <parameter name="@Application" layout="AspNetCoreNlog" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite:filename=true}" />
      <parameter name="@Exception" layout="${Exception}" />
    </target>
    <!--本地日志-->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="logs/${shortdate}.log"
              layout="当前时间: ${longdate} | 级别: ${Level} | 来源: ${Logger} | 提示: ${Message}   ${Exception}" />
    </target>
  </targets>

  <rules>
    <!--过滤掉包含Microsoft.*的数据-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!--过滤掉包含Quartz.*的数据-->
    <logger name="Quartz.*" maxlevel="Info" final="true" />
    <!--此处的日志只会打印除Microsoft.*\Quartz.*外的日志-->
    <!--数据库输出-->
    <!--<logger name="*"  writeTo="db"/>-->
    <!--本地文件输出-->
    <logger name="*"  writeTo="file"/>
  </rules>
</nlog>